.vs/ECSSO/v16/.suo
.vs/ECSSO/v17/.suo
.vs/ECSSO/v17/fileList.bin
.vs/ECSSO/project-colors.json
.vs/ECSSO/config/applicationhost.config
ECSSO/Properties/PublishProfiles/ECSSO.pubxml.user
ECSSO/ECSSO.csproj.user
Beacon/Beacon.csproj.user
Meal/Meal.csproj.user
WebAPI/WebAPI.csproj.user
Beacon/obj/*
Beacon/bin/*
ECSSO/bin/*
ECSSO/obj/*
Meal/obj/*
Meal/bin/*
WebAPI/obj/*
*.cache
*.config