a{color:#000;}
div { border: 0px; } 
body{font-family:Arial,微軟正黑體,新細明體, Helvetica, sans-serif; color:#333333;}
.container.tabs01 {padding: 0;}
.col-md-12.listitem{}
.col-md-12.listitem>.row-fluid {
	padding: 10px 0;
	background: #f3f3f3;
	display: table;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 3px;
	margin-top: 10px;
	font-size: 12pt;
	font-weight: bold;
	color: #428bca;
}
#QAList>.panel.panel-default {
	border: 0;
	box-shadow: none;
	border-radius: 0px;
	border-bottom: 1px solid #ddd;
	margin: 0px;
}
#QAList>.panel.panel-default>.panel-heading {
	background: none;
	border: 0;
	padding: 5px 15px;
}